(
    colliders: [
        (
            transform: (
                translate: Vec3(0, 1, 2),
                rotate: EulerAngles (
                    yaw: 1.0,
                    pitch: 0.0,
                    roll: 0.0,
                )
            ),
            shape: Cuboid
        ),
    ]
)
